<div class="div-entry">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="position">#{{position}}</div>
            {{#unless @root.text_only}}
            <div class="preview" data-beatmapset-id="{{beatmap.beatmapset_id}}">
                <div class="preview-hover">
                    <i class="fa fa-play"></i>
                </div>
                <img src="https://b.ppy.sh/thumb/{{beatmap.beatmapset_id}}.jpg">
            </div>
            {{/unless}}
            <div class="beatmap-info">
                <a href="https://osu.ppy.sh/b/{{beatmap.beatmap_id}}">
                    {{beatmap.artist}} - {{beatmap.title}}
                </a> [{{beatmap.version}}] ({{view.time_str}})
            </div>
            <div class="beatmap-info">
                Base: [<b>{{round_number beatmap.difficultyrating 2}}</b>] CS: {{beatmap.diff_size}} AR: {{beatmap.diff_approach}} OD: {{beatmap.diff_overall}} HP: {{beatmap.diff_drain}} BPM: {{beatmap.bpm}}
            </div>
            <div class="beatmap-info">
                <b>{{view.mods}}</b>
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div>[<b>{{data.rank}}</b>][{{round_number accuracy 2}}%] {{data.score}}</div>
            <div>
                {{#if isFC }}
                    <b>{{beatmap.max_combo}}x Full Combo</b>
                {{/if}}
                {{#unless isFC }}
                    {{data.maxcombo}}x / {{beatmap.max_combo}}x ({{view.fcPercent}}%)
                {{/unless}}
            </div>
            {{!--<div>{{data.maxcombo}}x / {{beatmap.max_combo}}x ({{{view.fc_percent_html}}})</div>--}}
		    {{!--<div>{{data.hit300 ?> / <?= $entry['hit_count'][1] ?> / <?= $entry['hit_count'][2] ?> / <?= $entry['hit_count'][3] ?></div>--}}
            <div>
                {{#if isPerfect}}
                    <b>{{data.count300}} Hit Perfect</b>
                {{/if}}
                {{#unless isPerfect }}
                    {{data.count300}} / {{data.count100}} / {{data.count50}} / {{data.countmiss}}
                {{/unless}}
            </div>
        </div>
        <div class="col-xs-6 col-md-2 pp-entry">
            <div>{{round_number data.pp 4}}PP</div>
            <div>{{view.weighting_percent}}% = {{round_number weightedPP 4}}PP</div>
            <div title="{{view.play_date_string}}">{{view.time_ago}}</div>
        </div>
    </div>
</div>